
.header {
    background-color: white;
    padding: 1rem;
    text-align: center;
    margin-top: 15px;
  }
  
  .header h1 {
    font-size: 3rem;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    margin-top: 10px;
  }
          
  .header .fair {
    color: #2ecc71;
  }
  
  .header .play {
    color: #007bff;
}
  .footer {
    background-color: white;
    color: black;
    padding: 1rem;
    text-align: center;
    margin-top: 10px;
  }

  .login-space{
    margin-top: -35px;
  }
  