.login-section-bg {
    background-color: #f2f2f2;
  }
  
  .login-section {
    margin-left: auto;
    margin-right: auto;
    align-items: center;
  }
  
  .login-section-padding {
    padding: 1.5rem; /* Increase the padding to create equal gaps */
  }
  
  .login-section-border {
    border-width: 1px;
  }
  
  .login-section-border-dark {
    border-color: #343a40 !important;
  }
  
  .login-section-rounded {
    border-radius: 0.25rem;
  }
  
  .login-section-margin {
    margin: 1.25rem;
  }
  
  .login-form-group {
    margin-bottom: 1rem;
  }
  
  .login-label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
    text-align: center;
  }
  
  .login-form-control {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    box-sizing: border-box;
  }
  
  .login-btn-warning {
    color: #fff;
    background-color: #ffc107;
    border-color: #ffc107;
  }
  
  .login-btn-warning:hover {
    color: #fff;
    background-color: #e0a800;
    border-color: #d39e00;
  }
  
  .login-btn-warning:focus,
  .login-btn-warning.focus {
    color: #fff;
    background-color: #e0a800;
    border-color: #d39e00;
    box-shadow: 0 0 0 0.2rem rgba(255, 193, 7, 0.5);
  }
  
  .login-btn-warning.disabled,
  .login-btn-warning:disabled {
    color: #fff;
    background-color: #ffc107;
    border-color: #ffc107;
  }
  
  .login-btn-warning:not(:disabled):not(.disabled).active,
  .login-btn-warning:not(:disabled):not(.disabled):active,
  .show > .login-btn-warning.dropdown-toggle {
    color: #fff;
    background-color: #d39e00;
    border-color: #c69500;
  }
  
  .login-btn-warning:not(:disabled):not(.disabled).active:focus,
  .login-btn-warning:not(:disabled):not(.disabled):active:focus,
  .show > .login-btn-warning.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(255, 193, 7, 0.5);
  }
  
  .login-error-message {
    color: red;
    margin-top: 0.25rem;
    font-size: 0.875rem;
  }
  
  .login-form-row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -5px;
    margin-left: -5px;
  }
  
  .login-form-group {
    margin-bottom: 1rem;
    width: 100%;
    padding-right: 2.5rem; /* Adjust the right padding */
    padding-left: 0.5rem; /* Adjust the left padding */
  }
  
  .login-section-bg {
    background-color: rgb(240, 244, 245);
  }
  
  .login-input-field {
    color: #007bff;
  }
  
  .login-submit-button {
    background-color: #0c461c;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    width: 300px;
    transition: background-color 0.3s ease;
  }
  
  .login-submit-button:hover {
    background-color: #54610c;
  }
  
  .login-submit-button:focus {
    outline: none;
  }
  
  .login-submit-button-animation {
    animation: buttonAnimation 1s infinite;
  }
  