body {
  background-color: #30475E;
  background-image: url('./balls-sports.png');
  background-size: cover;
  background-position: center;
  text-align: center;
  padding: 25px;
  color: #dddddd;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

.header {
  box-shadow: 12px 12px 2px rgb(34, 40, 49, 0.50);
  height: inherit;
  width: 500px;
  border-radius: 25px;
  border: medium solid #dddddd;
  background-color: rgb(34, 40, 49, 0.75);
  margin-top: 15px;
}

.header h1 {
  font-size: 6rem;
  font-weight: bold;
}

.fair {
  color: #30475E;
}

.play {
  color: #ce78a7;
}

footer {
  color: #dddddd;
  padding: 1rem;
  text-align: center;
  margin-top: auto;
}