.bg-secondary {
    background-color: #f2f2f2;
  }
  
  .mx-auto {
    margin-left: auto;
    margin-right: auto;
    margin-top: 19px;
  }
  
  .p-3 {
    padding: 0.75rem;
  }
  
  .border {
    border-width: 1px;
  }
  
  .border-dark {
    border-color: #343a40 !important;
  }
  
  .rounded {
    border-radius: 0.25rem;
  }
  
  .m-5 {
    margin: 1.25rem;
  }
  
  .form-group {
    margin-bottom: 1rem;
  }
  
  label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
  }
  
  .form-control {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
  
  .btn-warning {
    color: #fff;
    background-color: #ffc107;
    border-color: #ffc107;
  }
  
  .btn-warning:hover {
    color: #fff;
    background-color: #e0a800;
    border-color: #d39e00;
  }
  
  .btn-warning:focus,
  .btn-warning.focus {
    color: #fff;
    background-color: #e0a800;
    border-color: #d39e00;
    box-shadow: 0 0 0 0.2rem rgba(255, 193, 7, 0.5);
  }
  
  .btn-warning.disabled,
  .btn-warning:disabled {
    color: #fff;
    background-color: #ffc107;
    border-color: #ffc107;
  }
  
  .btn-warning:not(:disabled):not(.disabled).active,
  .btn-warning:not(:disabled):not(.disabled):active,
  .show > .btn-warning.dropdown-toggle {
    color: #fff;
    background-color: #d39e00;
    border-color: #c69500;
  }
  
  .btn-warning:not(:disabled):not(.disabled).active:focus,
  .btn-warning:not(:disabled):not(.disabled):active:focus,
  .show > .btn-warning.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(255, 193, 7, 0.5);
  }

  p.error-message {
    color: red;
    margin-top: 0.25rem;
    font-size: 0.875rem;
  }
  
.form-row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -5px;
    margin-left: -5px;
  }
  
  .form-group {
    flex: 0 0 50%;
    max-width: 50%;
    padding-right: 5px;
    padding-left: 5px;
  }

  .register-section {
    background-color: rgb(240, 244, 245);
  }

  .input-field{
    color: #007bff;
  }

/* Button */
  .submit-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    width: 300px;
    transition: background-color 0.3s ease;
  }
  
  .submit-button:hover {
    background-color: #0ad8ab;
  }
  
  .submit-button:focus {
    outline: none;
  }
  
  /* Animation */
  @keyframes buttonAnimation {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }
  
  .submit-button {
    animation: buttonAnimation 1s infinite;
  }

  /* skill level side */
.tooltip-container {
  position: relative;
  display: inline-block;
  width: 100%;
}

.tooltip {
  visibility: hidden;
  width: 240px;
  background-color: #64cbac;
  color: rgb(7, 6, 6);
  text-align: start;
  border-radius: 4px;
  padding: 8px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  border-width: 6px;
  border-style: solid;
  border-color: #333 transparent transparent transparent;
}

.tooltip-container:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

.tooltip-text {
  margin: 0;
  font-size: 14px;
  line-height: 1.4;
  padding: 4px 0;
}
